#header {
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0px;
    z-index: 100;
    transition: $t-regular;

    .navigation-bar {
        padding: 5px 0px;
        font-family: $primary-font;

        .left-side {
            float: left;
        }

        .right-side {
            padding: 6px;
            display: flex;
            justify-content: space-between;

            .nav-menu {
                margin: 0 auto;
            }

            .main-menu {
                display: inline-block;
                padding: 2px 15px;
                position: relative;

                &[data-dropdown]::after {
                    font-family: "Flaticon";
                    font-size: 12px;
                    padding-left: 5px;
                    font-weight: 900;
                    content: "\f10f";
                }

                &[data-checked] {
                    background-color: $hoverBack;
                    transition: $t-regular;

                    a {
                        color: $yellow;
                        transition: $t-regular;
                    }

                    &:hover {
                        background-color: $yellow;
                        transition: $t-regular;

                        a {
                            color: $lightgrey;
                            transition: $t-regular;
                        }
                    }
                }
                &[data-button] {
                    @extend .button;
                    padding: 10px 20px;
                    a{
                        i{
                            margin-right:10px;
                        }
                    }
                    &:hover {
                       @extend .button-hover;
                    }
                }
                &:hover {
                    .submenu {
                        @extend .submenu-hover;
                    }
                }

                span, a {
                    font-weight: 900;
                    color: $blue;
                    font-size: $hyperlink-text-size;
                    letter-spacing: $ls-regular;
                    transition: $t-regular;
                    cursor: pointer;
                    &:hover{
                        color: $yellow;
                        transition: $t-regular;
                    }
                }

                .submenu, .zero-submenu {
                    position: absolute;
                    margin-left: 0px;
                    width: 200px;
                    box-shadow: $bs-regular;
                    background-color: $lightgrey;
                    border-radius: $br-regular;
                    padding: 0px;
                    top: 20px;
                    opacity: 0;
                    transform: translateY(-2em);
                    visibility: hidden;
                    z-index: -1;
                    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
                    
                    li {
                        margin-left: 0px;
                        padding-left: 0px;
                        padding-right: 0px;
                        position: relative;
                        a {
                            display: block;
                            background: #fff;
                            color: #3B566E;
                            padding-left: 20px;
                            height: 40px;
                            line-height: 40px;
                            transition: $t-regular;
                            position: relative;
                            font-size: 13px;
                            border-bottom: 1px solid #f5f5f5;

                            &:hover {
                                background: $hoverBack;
                                padding-left: 25px;
                                border-left: 4px solid $yellow;
                                color:$yellow;
                                
                            }
                        }
                        &[data-dropright]::after{
                            font-family: "Flaticon";
                            font-size: 12px;
                            font-weight: 900;
                            content: "\f111";
                            position: absolute;
                            top: 14px;
                            right: 10px;
                        }
                        &:hover{
                            .zero-submenu {
                                @extend .submenu-hover;
                            }
                        }
                    }
                }
                .zero-submenu{
                    left: 205px;
                    top: 0px;
                }
            }

            .registration {
                display: flex;
                align-items: center;
                .main-menu {
                    margin: 0px;
                }
            }
        }

    }
}