@import '../sections/another-intro';
//All Properties of  #partners-intro section were writed on page - _prop-details.scss

// Some properties of #partner-page section were write on sections _prop-search.scss and _recent-properties.scss

#partner-page, #property-detail {
    @extend .partner-page;
    @extend .recent-adds-properties;
    @extend .finded-adds-properties;

    .adds-panel {
        .title {
            justify-content: space-between;

            .rent-sale-buttons {
                display: flex;
                justify-content: space-between;

                a {
                    @extend .button;
                    background-color: $hoverBack;
                    transition: $t-regular;
                    height: 40px;
                    line-height: 40px;
                    padding: 0 18px;
                    color: $yellow;
                    width: 100px;
                    text-align: center;
                    margin: 0 10px;

                    &:hover {
                        background-color: $yellow;
                        transition: $t-regular;
                        color: $white;
                    }
                }
            }
        }
    }
}