@import '../sections/another-intro';

#partners{
    @extend .recent-adds-properties;
    .add-partner{
        height: 229px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        background-color: $hoverBack;
        transition: $t-regular;
        &:hover{
            background-color: $yellow;
            transition: $t-regular;
            i{
                color: $white;
                border: 1px solid $white;
            }
        }
        i{
            padding: 10px 14px;
            border: 1px solid $yellow;
            border-radius: 50%;
            color:$yellow;
           
        }

    }
    .contain-item{
        padding:10px;
        
        .item-image{
            overflow: hidden;
            height: 135px;
            a{
                img{
                    border-radius: 0px !important;
                    width: 100% !important;
                    margin:0 auto;
                }
            }
            
        }
        .item-property{
            padding: 5px 0px !important;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .property-name{
                font-size: $footer-list-head;
                font-weight: bold;
                padding: 5px 0px !important;
                text-align: center;
            }
        }
        .adds-count{
            font-family: $additional-font;
                font-size:12px;
                font-weight: bold;
                margin: 5px 0px;
                span{
                    color:$yellow;
                    padding: 5px 15px;
                    @extend .button;
                    display: block;
                    border-radius: 5px;
                    transition: $t-regular;
                    background-color: $hoverBack;
                    border: 1px solid $yellow;
                    &:hover{
                       @extend .button-hover;
                       color: $white;
                       transition: $t-regular;
                    }
                }
        }
    }
}