//All Properties of  #prop-search-intro section were writed on page - _prop-details.scss

// Some properties of #finded-properties section were write on section _recent-properties.scss
#finded-properties, #partner-page{
    .title{
        padding: 20px 0px;
        font-family: $additional-font;
        .sum-found-property{
            font-size: 18px;
            .sum{
                color: $yellow;
                font-weight: bold;
            }
        }
        select{
            font-family: $additional-font;
            @extend .search-tab-content;
            padding: 5px 20px;
            &:focus{
                @extend .search-tab-content-focus;
            }
        }
    }
    .filter-panel{
        font-family: $additional-font;
        .title{
            justify-content: flex-start;
            align-items: center;
            span{
                font-size: 18px;
                margin-left: 5px;
            }
        }
        .filter-contain{

            padding: 20px;
            border: 1px solid $grey;
            border-radius: $br-regular;
            div{
                margin-bottom: 30px;
            }
            .rent-sale-buttons{
                display: flex;
                justify-content: space-between;
                a{
                    @extend .button;
                    background-color: $hoverBack;
                    transition: $t-regular;
                    height: 40px;
                    line-height: 40px;
                    padding: 0 18px;
                    color:$yellow;
                    &:hover{
                        background-color: $yellow;
                        transition: $t-regular;
                        color:$white;
                    }
                }
            }
            .search-select{

               select{
                @extend .search-tab-content;

                padding: 5px;
                    &:focus{
                        @extend .search-tab-content-focus;
                    }
               }
            }
            .search-range{
                text-align: center;
                h3{
                    font-weight: bold;
                }
            }

            button{
                font-family: $additional-font;
                font-weight: bold;
                @extend .button;
                display: block;
                margin-top:50px;
                width:100%;
                background-color: $hoverBack;
                transition: $t-regular;
                height: 40px;
                line-height: 40px;
                padding: 0 18px;
                color:$yellow;
                &:hover{
                    background-color: $yellow;
                    transition: $t-regular;
                    color:$white;
                }
            }

        }
    }

}