@import '../sections/another-intro';


#partner-properties{
    @extend .section-title;
    @extend .contain;
    .contain-stack{
        .contain-item{
            @extend .contain-item-small;
            .item-property{
                .hover-overlay{
                    bottom: -41px !important;
                }
                ul{
                    li{
                        padding: 5px 10px !important;
                        width:100% !important;
                        margin-right: 0px !important;
                       
                    }
                }
            }
            
        }
    }
    
}

#property-detail{
    @include section-prop;
    #modal{
        @extend .modal;
        justify-content: center;
        align-items: center;
        #modal-content{
            height:80vh;
            width: 85vw;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            img{
                cursor: pointer;
                max-width: 80vw;
                max-height: 80vh;
                box-shadow: 0px 0px 17px 3px rgba(242,170,63,1);
            }
            .nav-buttons{
                position: absolute;
                top: 50%;
                left: 0;
                margin-top: -15px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                i{
                    color: $yellow;
                    font-size: 25px;
                    cursor: pointer;
                    transition: $t-regular;
                    &:hover{
                        
                        &[aria-label="Next"]{
                            transform: translateX(6px);
                            transition: $t-regular;
                        }
                        &[aria-label="Previous"]{
                            transform: translateX(-6px);
                            transition: $t-regular;
                        }
                    }
                }
            }
        }
        #close{
            top: 3vh;
            right: 5vh;
            color: $yellow;
        }
        
    }
    
    .property-photo{
        position: relative;
        align-items: center;
        border-radius: $br-regular;
        border: 1px solid $grey;
        box-shadow: $bs-regular;
        overflow: hidden;
        background-color: $grey;
        .item{
            height:400px;
            width:100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            img{
                max-height: 400px;
                width: initial;
            }
           
        }
        
        .owl-nav{
            width: 100%;
            position: absolute;
            top: 50%;
            margin-top: -30px;
            display: flex;
            justify-content: space-between;
            button{
                span{
                    font-size: 60px;
                    font-weight: bold;
                    display: inline-block;
                    color: $yellow;
                    box-shadow: 14px 12px 20px -10px rgba(0,0,0,0.75);
                    transition: $t-regular;
                    margin: 0px 10px;
                    &:hover{  
                        transform: scale(1.1);
                        transition: $t-regular;
                        
                        color: white;
                        &[aria-label="Next"]{
                            transform: translateX(6px);
                        }
                        &[aria-label="Previous"]{
                            transform: translateX(-6px);
                        }
                    }
                }
                
            }
        }
    }

    .property-information{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        .title{
            padding: 0px !important;
        }
        .property-price{
            font-family: $additional-font;
            .present-price{
                font-size: $item-title-size;
                font-weight: bold;
                color: $yellow;
                margin-bottom: 20px;
            }
            span{
                display: block;

            }
        }
        .property-name{
            h1{
                font-family: $primary-font;
                font-size: 35px;
                letter-spacing: $ls-regular;
                font-weight: bold;
            }

            .property-address{
                padding: 10px 0px;
                float: right;
                h3, h5{
                    margin-left: 10px;
                    color:$yellow;
                    font-family: $additional-font;
                    font-weight: bold;
                }
                h5{
                    float: right;
                    margin-top: 10px;
                    
                }
            }
        }
    }
   
    .info-item{
        border-bottom: 1px solid $yellow;
        width: 100%;
        .title{
            font-family: $primary-font;
            h3{
                font-size: $add-title-size;
                letter-spacing: $t-regular;
                margin-bottom: 10px;
                font-weight: bold;
            }
        }
       .contain{
            font-family: $additional-font;
            font-size: $add-features-size;
            padding: 10px 0px 20px;
        
        i{
            color:$yellow;
            font-size: 20px;
        }
        span{
            font-size: $add-price-size;
            color: $gray;
        }
        p{
            text-align: justify;
            color: $gray;
            line-height: 25px;
        }
        a{
            color:$yellow;
        }
        img{
            width:100%;
        }
        ul{
            li{
                padding: 10px;
                margin: 0px 5px;
                display: inline-block;
                width: 220px;
                span{
                    margin-left: 10px;
                }
            }
        }
        #map{
            width: 100%; 
        height: 400px; 
        background-color: grey; 
        }
       }
    }
   
   
}