@import '../sections/another-intro';

#sign-up{
    @extend .section-title;
    @extend .contain;
    .contain-item{
        padding: 20px 25px;
        text-align: justify;
        font-family: $additional-font;
        font-size: $section-text-size;
        color:$gray;
        line-height: 20px;
        @extend .form;
        
        
    }

}