@font-face {
  font-family: 'Arch';
  src: url('../fonts/Arch.woff');
}

@font-face {
  font-family: 'Arch';
  src: url('../fonts/Arch-Bold.woff');
  font-weight: 900;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.woff');
}