
@{
    ViewData["Title"] = "Agentlik haqqında";
}

<!-- intro-section -->
<section id="another-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h1>Agentlik haqqında</h1>
                </div>
                <div class="breadcumb-text mt-20">
                    <a href="index.html">Ana Səhifə</a>
                    <span> / </span>
                    <a href="partners.html">Agentliklər</a>
                    <span>/ Agentlik haqqında</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of intro-section -->
<!-- partner-detail-section -->
<section id="partner-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="partner-panel">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title">
                                <img src="~/img/icons/19.png" alt="">
                                <span>Agentlik </span>
                            </div>
                            <div class="contain">
                                <div class="general">
                                    <div class="photo">
                                        <img src="~/img/owners/1.jpg" alt="">
                                    </div>
                                    <div class="name">
                                        <h2 class="name">Baku Guest LLC</h2>
                                    </div>
                                </div>
                                <div class="about">
                                    <h2>Haqqında</h2>
                                    <p>Baku Guest şirkəti artıq 10 ildir turizm sektorunda fəaliyyət göstərir. Gündəlik kirayə evlər, qonaq evi,transfer və ölkədaxili ekskursiyalarla ilboyu hər gün xidmətinizdəyik. Bakı şəhərinin mərkəzində, metro və iaşə mərkəzlərinə yaxın 2 və 3 otaqlı kamfortlu mənzillərdə qonaqlarınızı tam təhlükəsiz və ən əsası otellərdən dəfələrlə ucuz yerləşdirə bilərsiz. Mənzillər tam mebelli,təmiz Pastel dəsti və məişət avadanlıqları ilə təchiz olunub. Diqqət! Mənzillər yalnız qonaqlar və ailəlilər üçün nəzərdə tutulub.</p>
                                </div>
                                <div class="contact">
                                    <h2>Əlaqə</h2>
                                    <ul>
                                        <li>
                                            <div class="header-text">
                                                <i class="fas fa-map-marker-alt"></i> Adres
                                            </div>
                                            <div class="info-text">
                                                <span>Qara Qarayev 126/89, Bakı, Azərbaycan</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="header-text">
                                                <i class="fas fa-phone-alt"></i> Telefon
                                            </div>
                                            <div class="info-text">
                                                <span>(+994) 12 376 92 36</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="header-text">
                                                <i class="far fa-envelope"></i> E-mail
                                            </div>
                                            <div class="info-text">
                                                <span>bakullc@code.edu.az</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="header-text">
                                                <i class="far fa-calendar-alt" aria-hidden="true"></i> Qeydiyyat tarixi
                                            </div>
                                            <div class="info-text">
                                                <span>01.01.2020</span>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="adds-panel">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title">
                                <div class="sum-found-property">
                                    <span class="sum">73</span>
                                    <span>elan</span>
                                </div>
                                <div class="rent-sale-buttons">
                                    <ul class="nav-tabs">
                                        <li class="active"><a href="#tabs_1">Kirayə</a></li>
                                        <li><a href="#tabs_2">Satış</a></li>
                                    </ul>
                                </div>
                                <div class="select-by">
                                    <select name="select-by" id="select-by">
                                        <option value="Tarixə görə" selected>Tarixə görə</option>
                                        <option value="Ucuzdan bahaya">Ucuzdan bahaya</option>
                                        <option value="Bahadan ucuza">Bahadan ucuza</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-panel active" id="tabs_1">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="contain-item">
                                        <div class="item-image">
                                            <a href="#"><img src="~/img/property/sale/6.png" alt="property"></a>
                                        </div>
                                        <div class="item-property">
                                            <div class="date">
                                                <i class="far fa-calendar-alt"></i><span class="added-date">27.02.2020</span>
                                            </div>
                                            <div class="property-name">
                                                <a href="#">United Landville Apartment</a>
                                            </div>
                                            <div class="property-price">
                                                <span class="present-price">250 ₼/ay</span>
                                                <span class="previous-price">450 ₼/ay</span>
                                            </div>
                                            <div class="additional-properties">
                                                <div class="add-prop-item">
                                                    <i class="fas fa-bed"></i>
                                                    <span class="num">05</span>
                                                </div>
                                                <div class="add-prop-item">
                                                    <i class="fas fa-bath"></i>
                                                    <span class="num">02</span>
                                                </div>
                                                <div class="add-prop-item">
                                                    <i class="far fa-square"></i>
                                                    <span class="num">188</span>
                                                    <span>kv/m</span>
                                                </div>
                                            </div>
                                            <div class="hover-overlay">
                                                <ul>
                                                    <li><a href="#">Ətraflı</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="tab-panel hide" id="tabs_2">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="contain-item">
                                        <div class="item-image">
                                            <a href="#"><img src="~/img/property/sale/6.png" alt="property"></a>
                                        </div>
                                        <div class="item-property">
                                            <div class="date">
                                                <i class="far fa-calendar-alt"></i><span class="added-date">27.02.2020</span>
                                            </div>
                                            <div class="property-name">
                                                <a href="#">United Landville Apartment</a>
                                            </div>
                                            <div class="property-price">
                                                <span class="present-price">25000 ₼</span>
                                                <!-- <span class="previous-price">450 ₼/ay</span> -->
                                            </div>
                                            <div class="additional-properties">
                                                <div class="add-prop-item">
                                                    <i class="fas fa-bed"></i>
                                                    <span class="num">05</span>
                                                </div>
                                                <div class="add-prop-item">
                                                    <i class="fas fa-bath"></i>
                                                    <span class="num">02</span>
                                                </div>
                                                <div class="add-prop-item">
                                                    <i class="far fa-square"></i>
                                                    <span class="num">188</span>
                                                    <span>kv/m</span>
                                                </div>
                                            </div>
                                            <div class="hover-overlay">
                                                <ul>
                                                    <li><a href="#">Ətraflı</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="contain-item">
                                        <div class="item-image">
                                            <a href="#"><img src="~/img/property/sale/6.png" alt="property"></a>
                                        </div>
                                        <div class="item-property">
                                            <div class="date">
                                                <i class="far fa-calendar-alt"></i><span class="added-date">27.02.2020</span>
                                            </div>
                                            <div class="property-name">
                                                <a href="#">United Landville Apartment</a>
                                            </div>
                                            <div class="property-price">
                                                <span class="present-price">25000 ₼</span>
                                                <!-- <span class="previous-price">450 ₼/ay</span> -->
                                            </div>
                                            <div class="additional-properties">
                                                <div class="add-prop-item">
                                                    <i class="fas fa-bed"></i>
                                                    <span class="num">05</span>
                                                </div>
                                                <div class="add-prop-item">
                                                    <i class="fas fa-bath"></i>
                                                    <span class="num">02</span>
                                                </div>
                                                <div class="add-prop-item">
                                                    <i class="far fa-square"></i>
                                                    <span class="num">188</span>
                                                    <span>kv/m</span>
                                                </div>
                                            </div>
                                            <div class="hover-overlay">
                                                <ul>
                                                    <li><a href="#">Ətraflı</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="contain-item">
                                        <div class="item-image">
                                            <a href="#"><img src="~/img/property/sale/6.png" alt="property"></a>
                                        </div>
                                        <div class="item-property">
                                            <div class="date">
                                                <i class="far fa-calendar-alt"></i><span class="added-date">27.02.2020</span>
                                            </div>
                                            <div class="property-name">
                                                <a href="#">United Landville Apartment</a>
                                            </div>
                                            <div class="property-price">
                                                <span class="present-price">25000 ₼</span>
                                                <!-- <span class="previous-price">450 ₼/ay</span> -->
                                            </div>
                                            <div class="additional-properties">
                                                <div class="add-prop-item">
                                                    <i class="fas fa-bed"></i>
                                                    <span class="num">05</span>
                                                </div>
                                                <div class="add-prop-item">
                                                    <i class="fas fa-bath"></i>
                                                    <span class="num">02</span>
                                                </div>
                                                <div class="add-prop-item">
                                                    <i class="far fa-square"></i>
                                                    <span class="num">188</span>
                                                    <span>kv/m</span>
                                                </div>
                                            </div>
                                            <div class="hover-overlay">
                                                <ul>
                                                    <li><a href="#">Ətraflı</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="contain-item">
                                        <div class="item-image">
                                            <a href="#"><img src="~/img/property/sale/6.png" alt="property"></a>
                                        </div>
                                        <div class="item-property">
                                            <div class="date">
                                                <i class="far fa-calendar-alt"></i><span class="added-date">27.02.2020</span>
                                            </div>
                                            <div class="property-name">
                                                <a href="#">United Landville Apartment</a>
                                            </div>
                                            <div class="property-price">
                                                <span class="present-price">25000 ₼</span>
                                                <!-- <span class="previous-price">450 ₼/ay</span> -->
                                            </div>
                                            <div class="additional-properties">
                                                <div class="add-prop-item">
                                                    <i class="fas fa-bed"></i>
                                                    <span class="num">05</span>
                                                </div>
                                                <div class="add-prop-item">
                                                    <i class="fas fa-bath"></i>
                                                    <span class="num">02</span>
                                                </div>
                                                <div class="add-prop-item">
                                                    <i class="far fa-square"></i>
                                                    <span class="num">188</span>
                                                    <span>kv/m</span>
                                                </div>
                                            </div>
                                            <div class="hover-overlay">
                                                <ul>
                                                    <li><a href="#">Ətraflı</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="contain-item">
                                        <div class="item-image">
                                            <a href="#"><img src="~/img/property/sale/6.png" alt="property"></a>
                                        </div>
                                        <div class="item-property">
                                            <div class="date">
                                                <i class="far fa-calendar-alt"></i><span class="added-date">27.02.2020</span>
                                            </div>
                                            <div class="property-name">
                                                <a href="#">United Landville Apartment</a>
                                            </div>
                                            <div class="property-price">
                                                <span class="present-price">25000 ₼</span>
                                                <!-- <span class="previous-price">450 ₼/ay</span> -->
                                            </div>
                                            <div class="additional-properties">
                                                <div class="add-prop-item">
                                                    <i class="fas fa-bed"></i>
                                                    <span class="num">05</span>
                                                </div>
                                                <div class="add-prop-item">
                                                    <i class="fas fa-bath"></i>
                                                    <span class="num">02</span>
                                                </div>
                                                <div class="add-prop-item">
                                                    <i class="far fa-square"></i>
                                                    <span class="num">188</span>
                                                    <span>kv/m</span>
                                                </div>
                                            </div>
                                            <div class="hover-overlay">
                                                <ul>
                                                    <li><a href="#">Ətraflı</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of partner-detail-section -->
<!-- partners-section -->
<section id="partners">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h1>Digər Agentliklər</h1>
                </div>
                <div class="contain-stack mt-40">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="owl-carousel partners-logo">
                                <div class="item"> <a href="#"><img src="~/img/partners-logo/1.png" alt=""></a>  </div>
                                <div class="item"> <a href="#"><img src="~/img/partners-logo/2.png" alt=""></a>  </div>
                                <div class="item"> <a href="#"><img src="~/img/partners-logo/3.png" alt=""></a>  </div>
                                <div class="item"> <a href="#"><img src="~/img/partners-logo/4.png" alt=""></a>  </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
<!-- end of partners-section -->


@section owlCss{
    <link rel="stylesheet" href="~/css/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="~/css/owl-carousel/owl.theme.default.css">
}

@section owlScript{
    <script src="~/script/owl-carousel/owl.carousel.js"></script>
}