
@{
    ViewData["Title"] = "Agentliklər";
}

<!-- intro-section -->
<section id="another-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h1>Agentliklər</h1>
                </div>
                <div class="breadcumb-text mt-20">
                    <a href="index.html">Ana Səhifə</a>
                    <span>/ Agentliklər</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of intro-section -->
<!-- partners-section -->
<section id="partners" class="mt-20">
    <div class="container">
        <div class="row">
            <div class="contain-stack">
                <div class="row">
                    <div class="col-md-2">

                        <a href="#" class="contain-item add-partner">
                            <i class="fas fa-plus" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <div class="contain-item">
                            <div class="item-image">
                                <a href="#"><img src="~/img/owners/1.jpg" alt="property"></a>
                            </div>
                            <div class="item-property">
                                <div class="property-name">
                                    <a href="#">Baku Guest LLC</a>
                                </div>
                                <a href="#">
                                    <div class="adds-count">
                                        <span>15 ELAN</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="contain-item">
                            <div class="item-image">
                                <a href="#"><img src="~/img/owners/2.jfif" alt="property"></a>
                            </div>
                            <div class="item-property">
                                <div class="property-name">
                                    <a href="#">Rahat Ev LLC</a>
                                </div>
                                <a href="#">
                                    <div class="adds-count">
                                        <span>20 ELAN</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="contain-item">
                            <div class="item-image">
                                <a href="#"><img src="~/img/owners/3.jpg" alt="property"></a>
                            </div>
                            <div class="item-property">
                                <div class="property-name">
                                    <a href="#">Binəqədi Daşınmaz Əmlak LLC</a>
                                </div>
                                <a href="#">
                                    <div class="adds-count">
                                        <span>15 ELAN</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="contain-item">
                            <div class="item-image">
                                <a href="#"><img src="~/img/owners/4.jpg" alt="property"></a>
                            </div>
                            <div class="item-property">
                                <div class="property-name">
                                    <a href="#">Baku Guest LLC</a>
                                </div>
                                <a href="#">
                                    <div class="adds-count">
                                        <span>15 ELAN</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="contain-item">
                            <div class="item-image">
                                <a href="#"><img src="~/img/owners/5.jpg" alt="property"></a>
                            </div>
                            <div class="item-property">
                                <div class="property-name">
                                    <a href="#">Baku Guest LLC</a>
                                </div>
                                <a href="#">
                                    <div class="adds-count">
                                        <span>15 ELAN</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of partners-section -->
