@import '../sections/another-intro';
//All Properties of  #partners-intro section were writed on page - _prop-details.scss

// Some properties of #partner-page section were write on sections _prop-search.scss and _recent-properties.scss

#partner-detail, #property-detail {
    @extend .partner-detail;
    @extend .contain;
    @extend .finded-adds-properties;
    
    .adds-panel {
        .title {
            justify-content: space-between;
            
        }
        @extend .contain;
        .contain-item{
            @extend .contain-item-small;
            .hover-overlay{
                bottom: -41px !important;
                ul{
                    li{
                        padding: 5px 10px !important;
                        width:100% !important;
                        margin-right: 0px !important;
                       
                    }
                }
            }
        }
        
    }
}