@font-face {
    font-family: 'Nunito';
    src: url('../assets/');
    font-weight: 700;
  }

  @font-face {
    font-family: 'Nunito';
    src: url('../fonts/NunitoSans-ExtraBold.WOFF');
    font-weight: 800;
  }

  @font-face {
    font-family: 'Nunito';
    src: url('../fonts/NunitoSans-Black.WOFF');
    font-weight: 900;
  }