@model AccountIndexViewModel
@{
    ViewData["Title"] = "Giriş";
}

@*Intro*@
<partial name="_Breadcumb" model="ViewBag.Partial" />

<!-- login-signup section -->
<section id="login-signup" class="mt-20">
    <div class="container">
        <div class="row">
            <div class="contain-stack mt-20">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="header-panel">
                            <ul class="nav-tabs">
                                <li class="active"><a href="#tabs_1">Daxil Ol</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-panel active" id="tabs_1">
                                <div class="row">
                                    <div class="form">
                                        <form asp-controller="Account" asp-action="Login" method="post">

                                            <div class="form-group">
                                                <div class="left-side">
                                                    <label for="Logemail">E-Poçt</label>
                                                </div>
                                                <div class="right-side">
                                                    <input type="text" id="Logemail" placeholder="E-poçt" asp-for="Login.Email"
                                                           data-validation="required"
                                                           data-validation-error-msg-required="E-poçt daxil edin !!!" />
                                                    <span class="text-danger" asp-validation-for="Login.Email"> </span>
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <div class="left-side">
                                                    <label for="Logpassword">Şifrə</label>
                                                </div>
                                                <div class="right-side">
                                                    <input type="password" id="Logpassword" asp-for="Login.Password" placeholder="Şifrə"
                                                           data-validation="required"
                                                           data-validation-error-msg-required="Şifrəni daxil edin !!!" />
                                                    <span class="text-danger" asp-validation-for="Login.Password"> </span>
                                                </div>
                                                <div><span class="register">üzv olmaq üçün<a asp-controller="Account" asp-action="signup">Qeydiyyatdan keç</a></span></div>
                                            </div>
                                            
                                            <div class="right-side">
                                                <button type="submit">Daxil Ol</button>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of login-sgnup section -->

@section FormValidator{
    <script src="~/script/form-validator/jquery.form-validator.min.js"></script>
    <script src="~/script/form-validator/security.js"></script>
    <script src="~/script/form-validator/file.js"></script>
}
@section PhoneMask{
    <script src="~/script/phone-mask/jquery.browser.min.js"></script>
}
@section Scripts{

    <script>

        $(document).ready(function () {
            $.validate({
                modules: 'file, security',
                addSuggestions: true,
                decimalSeparator: ','
            });
        });


    </script>
}