@model AccountIndexViewModel
@{
    ViewData["Title"] = "Qeydiyyat";
}


@*Intro*@
<partial name="_Breadcumb" model="ViewBag.Partial" />

<!-- login-signup section -->
<section id="login-signup" class="mt-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h1>Qeydiyyat</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="contain-stack mt-20">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="header-panel">
                            <ul class="nav-tabs">
                                <li class="active"><a href="#tabs_2">Qeydiyyat</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-panel active" id="tabs_1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form asp-controller="Account" asp-action="Register" method="post" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <div class="left-side">
                                                    <label for="userType">Qeydiyyat növü</label>
                                                </div>
                                                <div class="right-side">
                                                    <select id="userType" asp-for="Register.Type">
                                                        <option selected value="@UserType.EvSahibi">Ev sahibi</option>
                                                        <option value="@UserType.Vasitəçi">Vasitəçi</option>
                                                        <option value="@UserType.Agentlik">Agentlik</option>
                                                    </select>
                                                    <span class="text-danger" asp-validation-for="Register.Type"> </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="left-side">
                                                    <label for="name">Ad</label>
                                                </div>
                                                <div class="right-side">
                                                    <input type="text" id="name" asp-for="Register.Name" placeholder="Ad">
                                                    <span class="text-danger" asp-validation-for="Register.Name"></span>
                                                </div>
                                            </div>
                                            <div class="form-group" id="surname">
                                                <div class="left-side">
                                                    <label for="surname">Soyad</label>
                                                </div>
                                                <div class="right-side">
                                                    <input type="text" asp-for="Register.Surname" id="surname" placeholder="Soyad">
                                                    <span class="text-danger" asp-validation-for="Register.Surname"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="left-side">
                                                    <label for="email">E-Poçt</label>
                                                </div>
                                                <div class="right-side">
                                                    <input type="text" id="email" placeholder="E-poçt" asp-for="Register.Email">
                                                    <span class="text-danger" asp-validation-for="Register.Email"> </span>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group">
                                                <div class="left-side">
                                                    <label for="password">Şifrə</label>
                                                </div>
                                                <div class="right-side">
                                                    <input type="password" id="password" asp-for="Register.Password" placeholder="Şifrə">
                                                    <span class="text-danger"> </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="left-side">
                                                    <label for="repassword" asp-for="Register.RePassword">Şifrənin təkrarı</label>
                                                </div>
                                                <div class="right-side">
                                                    <input type="password" id="repassword" asp-for="Register.RePassword" placeholder="Şifrəni təkrarı">
                                                    <span class="text-danger" asp-validation-for="Register.RePassword"> </span>
                                                </div>

                                            </div>
                                            <div class="right-side">
                                                <button type="submit">Qeydiyyat</button>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of login-sgnup section -->

