//COLORS
$yellow: #FDA94F;
$hoverBack: #FFEEE2;
$blue: #061B40;
$lightgrey: #F6F6F6;
$grey: #e0d7d7;
$white: white;
$gray: gray;


//FONT-SIZE
$page-title-size: 55px;

$breadcumb-text-size:16px;

$section-title-size: 30px;
$section-text-size: 15px;

$button-text-size: 14px;

$item-title-size: 24px;
$item-text-size: 14px;

$hyperlink-text-size: 15px;

$add-author-text-size:12px;
$add-title-size:20px;
$add-price-size:16px;
$add-last-price-size:12px;
$add-features-size:14px;

$footer-list-head: 18px;

//LETTER SPACING
$ls-regular: 1.1px;
$ls-page-title: 4px;
$ls-section-title: 0.5px;

 //MARGIN
 $mb-10: 0px 0px 10px;
 $mb-12: 0px 0px 12px;
 $mb-15: 0px 0px 15px;
 $mb-20: 0px 0px 20px;
 $mb-30: 0px 0px 30px;
 $mb-40: 0px 0px 40px;

 $mt-10: 10px 0px 0px;
 $mt-20: 20px 0px 0px;
 $mt-30: 30px 0px 0px;
 $mt-40: 40px 0px 0px;

//BORDER RADIUS
$br-regular: 8px;

//FONTS
$primary-font: "Arch";
$additional-font: "OpenSans";

 // BOX-SHADOW
 $bs-regular: 6px 8px 19px -1px rgba(0,0,0,0.48);

 //TRANSITION
 $t-regular: all 0.4s ease 0s;
