//COLORS
$yellow: #FDA94F;
$blue: #061B40;
$lightgrey: #F6F6F6;
$grey: #666666;

//FONT-SIZE
$page-title-size: 55px;

$breadcumb-text-size:16px;

$section-title-size: 40px;
$section-text-size: 15px;

$button-text-size: 14px;

$item-title-size: 24px;
$item-text-size: 14px;

$hyperlink-text-size: 15px;

$add-author-text-size:12px;
$add-title-size:16px;
$add-price-size:16px;
$add-last-price-size:14px;
$add-features-size:12px;

//FONTS
$primary-font: "Arch";
$additional-font: "OpenSans";
