@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

.mb-10 {
  margin: 0px 0px 10px; }

.mb-12 {
  margin: 0px 0px 12px; }

.mb-15 {
  margin: 0px 0px 15px; }

.mb-20 {
  margin: 0px 0px 20px; }

.mb-30 {
  margin: 0px 0px 30px; }

.mb-40 {
  margin: 0px 0px 40px; }

.mt-10 {
  margin: 10px 0px 0px; }

.mt-20 {
  margin: 20px 0px 0px; }

.mt-30 {
  margin: 30px 0px 0px; }

.mt-40 {
  margin: 40px 0px 0px; }

#header {
  min-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0px;
  z-index: 100;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }
  #header .navigation-bar {
    padding: 15px 0px;
    font-family: "Arch"; }
    #header .navigation-bar .left-side {
      float: left; }
    #header .navigation-bar .right-side {
      padding: 6px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      #header .navigation-bar .right-side .nav-menu {
        margin: 0 auto; }
      #header .navigation-bar .right-side .main-menu {
        display: inline-block;
        margin: 0px 15px;
        position: relative; }
        #header .navigation-bar .right-side .main-menu[data-dropdown]::after {
          font-family: "Flaticon";
          font-size: 12px;
          padding-left: 5px;
          font-weight: 900;
          content: "\f10f"; }
        #header .navigation-bar .right-side .main-menu[data-checked] {
          background-color: #FFEEE2;
          -webkit-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s; }
          #header .navigation-bar .right-side .main-menu[data-checked] a {
            color: #FDA94F;
            -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s; }
          #header .navigation-bar .right-side .main-menu[data-checked]:hover {
            background-color: #FDA94F;
            -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s; }
            #header .navigation-bar .right-side .main-menu[data-checked]:hover a {
              color: #F6F6F6;
              -webkit-transition: all 0.4s ease 0s;
              transition: all 0.4s ease 0s; }
        #header .navigation-bar .right-side .main-menu[data-button] {
          border: 1px solid #FFEEE2;
          padding: 10px 20px;
          border-radius: 8px;
          -webkit-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s; }
          #header .navigation-bar .right-side .main-menu[data-button] a i {
            margin-right: 10px; }
          #header .navigation-bar .right-side .main-menu[data-button]:hover {
            background-color: #FDA94F;
            -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s; }
            #header .navigation-bar .right-side .main-menu[data-button]:hover a {
              color: #F6F6F6;
              -webkit-transition: all 0.4s ease 0s;
              transition: all 0.4s ease 0s; }
        #header .navigation-bar .right-side .main-menu:hover .submenu {
          visibility: visible;
          opacity: 1;
          z-index: 1;
          -webkit-transform: translateY(0%);
                  transform: translateY(0%);
          -webkit-transition-delay: 0s, 0s, 0.3s;
                  transition-delay: 0s, 0s, 0.3s; }
        #header .navigation-bar .right-side .main-menu a {
          font-weight: 900;
          color: #061B40;
          font-size: 15px;
          letter-spacing: 1.1px; }
        #header .navigation-bar .right-side .main-menu .submenu, #header .navigation-bar .right-side .main-menu .zero-submenu {
          position: absolute;
          margin-left: 0px;
          width: 200px;
          -webkit-box-shadow: 0 2px 28px 0 #FFEEE2;
                  box-shadow: 0 2px 28px 0 #FFEEE2;
          background-color: #F6F6F6;
          border-radius: 8px;
          padding: 0px;
          top: 20px;
          opacity: 0;
          -webkit-transform: translateY(-2em);
                  transform: translateY(-2em);
          visibility: hidden;
          z-index: -1;
          -webkit-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
          transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s; }
          #header .navigation-bar .right-side .main-menu .submenu li, #header .navigation-bar .right-side .main-menu .zero-submenu li {
            margin-left: 0px;
            padding-left: 0px;
            padding-right: 0px;
            position: relative; }
            #header .navigation-bar .right-side .main-menu .submenu li a, #header .navigation-bar .right-side .main-menu .zero-submenu li a {
              display: block;
              background: #fff;
              color: #3B566E;
              padding-left: 20px;
              height: 40px;
              line-height: 40px;
              -webkit-transition: all 0.4s ease 0s;
              transition: all 0.4s ease 0s;
              position: relative;
              font-size: 13px;
              border-bottom: 1px solid #f5f5f5; }
              #header .navigation-bar .right-side .main-menu .submenu li a:hover, #header .navigation-bar .right-side .main-menu .zero-submenu li a:hover {
                background: #FFEEE2;
                padding-left: 25px;
                border-left: 4px solid #FDA94F; }
            #header .navigation-bar .right-side .main-menu .submenu li[data-dropright]::after, #header .navigation-bar .right-side .main-menu .zero-submenu li[data-dropright]::after {
              font-family: "Flaticon";
              font-size: 12px;
              font-weight: 900;
              content: "\f111";
              position: absolute;
              top: 14px;
              right: 10px; }
            #header .navigation-bar .right-side .main-menu .submenu li:hover .zero-submenu, #header .navigation-bar .right-side .main-menu .zero-submenu li:hover .zero-submenu {
              visibility: visible;
              opacity: 1;
              z-index: 1;
              -webkit-transform: translateY(0%);
                      transform: translateY(0%);
              -webkit-transition-delay: 0s, 0s, 0.3s;
                      transition-delay: 0s, 0s, 0.3s; }
        #header .navigation-bar .right-side .main-menu .zero-submenu {
          overflow: overlay;
          left: 205px;
          top: 0px; }
      #header .navigation-bar .right-side .registration .main-menu {
        margin: 0px; }

#footer {
  background-color: #e0d7d7;
  padding: 10px 0px;
  margin-top: 100px; }
  #footer .footer-top {
    padding-bottom: 10px;
    border-bottom: 1px solid #F6F6F6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #footer .footer-top .right-side .social-links::before {
      content: "Bizi izləyin";
      color: #F6F6F6;
      font-size: 15px;
      font-family: "OpenSans"; }
    #footer .footer-top .right-side .social-links li {
      display: inline-block;
      padding: 10px;
      margin-left: 10px;
      border: 1px solid #FDA94F;
      border-radius: 100%;
      background-color: #F6F6F6;
      -webkit-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s; }
      #footer .footer-top .right-side .social-links li a {
        color: #FDA94F;
        -webkit-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s; }
      #footer .footer-top .right-side .social-links li:hover {
        background-color: #FDA94F;
        -webkit-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s; }
        #footer .footer-top .right-side .social-links li:hover a {
          color: #F6F6F6;
          -webkit-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s; }
  #footer .footer-bottom {
    font-family: "Arch";
    border-bottom: 1px solid #F6F6F6; }
    #footer .footer-bottom .subjects {
      padding: 15px 0px; }
      #footer .footer-bottom .subjects .title {
        font-size: 18px;
        letter-spacing: 1.1px;
        font-weight: 900; }
      #footer .footer-bottom .subjects .contain ul li {
        padding: 5px 0px;
        color: #FDA94F; }
        #footer .footer-bottom .subjects .contain ul li i {
          margin-right: 10px;
          font-size: 16px;
          line-height: 20px;
          display: inline-block;
          width: 20px;
          color: #F6F6F6; }
      #footer .footer-bottom .subjects .contain li {
        position: relative; }
        #footer .footer-bottom .subjects .contain li a {
          display: block;
          height: 20px;
          line-height: 20px;
          -webkit-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s;
          position: relative;
          color: #061B40; }
          #footer .footer-bottom .subjects .contain li a:hover {
            padding-left: 25px;
            border-left: 4px solid #FDA94F; }
  #footer .footer-author {
    font-family: OpenSans; }
    #footer .footer-author .author {
      text-align: center;
      color: #F6F6F6;
      font-size: 14px; }

@font-face {
  font-family: 'Arch';
  src: url("../fonts/Arch.woff"); }
@font-face {
  font-family: 'Arch';
  src: url("../fonts/Arch-Bold.woff");
  font-weight: 900; }
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular.woff"); }
/*
Flaticon icon font: Flaticon
Creation date: 24/08/2019 12:54
*/
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/Flaticon.eot");
  src: url("../fonts/flaticon/Flaticon.eot") format("embedded-opentype"), url("../fonts/flaticon/Flaticon.woff2") format("woff2"), url("../fonts/flaticon/Flaticon.woff") format("woff"), url("../fonts/flaticon/Flaticon.ttf") format("truetype"), url("../fonts/flaticon/Flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg"); } }
.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.flaticon-laptop:before {
  content: "\f100"; }

.flaticon-video-camera:before {
  content: "\f101"; }

.flaticon-server:before {
  content: "\f102"; }

.flaticon-facebook-logo:before {
  content: "\f103"; }

.flaticon-twitter:before {
  content: "\f104"; }

.flaticon-linkedin:before {
  content: "\f105"; }

.flaticon-github-logo:before {
  content: "\f106"; }

.flaticon-mobileme-logo-of-black-cloud:before {
  content: "\f107"; }

.flaticon-google-plus:before {
  content: "\f108"; }

.flaticon-speech-bubble:before {
  content: "\f109"; }

.flaticon-man-user:before {
  content: "\f10a"; }

.flaticon-pinterest-logo:before {
  content: "\f10b"; }

.flaticon-magnifier:before {
  content: "\f10c"; }

.flaticon-reply:before {
  content: "\f10d"; }

.flaticon-copyright:before {
  content: "\f10e"; }

.flaticon-angle-arrow-down:before {
  content: "\f10f"; }

.flaticon-angle-pointing-to-left:before {
  content: "\f110"; }

.flaticon-angle-arrow-pointing-to-right:before {
  content: "\f111"; }

.flaticon-play-button:before {
  content: "\f112"; }

.flaticon-layers:before {
  content: "\f113"; }

.flaticon-layer:before {
  content: "\f114"; }

/*# sourceMappingURL=main.css.map */