@charset "UTF-8";
.button, #header .navigation-bar .right-side .main-menu[data-button], #intro .contain-stack .nav-tabs .nav-item, #property-detail .property-owner .owner-information .owner-adds span, #finded-properties .filter-panel .filter-contain .rent-sale-buttons a, #partner-page .filter-panel .filter-contain .rent-sale-buttons a, #finded-properties .filter-panel .filter-contain button, #partner-page .filter-panel .filter-contain button, #partners .contain-item .adds-count span, #partner-page .adds-panel .title .rent-sale-buttons a {
  border: 1px solid #FFEEE2;
  border-radius: 8px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }

.button-hover, #header .navigation-bar .right-side .main-menu[data-button]:hover, #intro .contain-stack .tab-content .search-button button, #property-detail .property-owner .owner-information .owner-adds span:hover, #partners .contain-item .adds-count span:hover {
  background-color: #FDA94F;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }
  .button-hover a, #header .navigation-bar .right-side .main-menu[data-button]:hover a, #intro .contain-stack .tab-content .search-button button a, #property-detail .property-owner .owner-information .owner-adds span:hover a, #partners .contain-item .adds-count span:hover a {
    color: #F6F6F6;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }

.submenu-hover, #header .navigation-bar .right-side .main-menu:hover .submenu, #header .navigation-bar .right-side .main-menu .submenu li:hover .zero-submenu, #header .navigation-bar .right-side .main-menu .zero-submenu li:hover .zero-submenu {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition-delay: 0s, 0s, 0.3s;
          transition-delay: 0s, 0s, 0.3s; }

.search-tab-content, #intro .contain-stack .tab-content .search-select select, #intro .contain-stack .tab-content .search-button button, #finded-properties .title select, #partner-page .title select, #finded-properties .filter-panel .filter-contain .search-select select, #partner-page .filter-panel .filter-contain .search-select select {
  width: 100%;
  padding: 10px 5px;
  font-size: 18px;
  font-family: "OpenSans";
  border-radius: 8px;
  border: 2px solid #e0d7d7;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }

.search-tab-content-focus, #intro .contain-stack .tab-content .search-select select:focus, #finded-properties .title select:focus, #partner-page .title select:focus, #finded-properties .filter-panel .filter-contain .search-select select:focus, #partner-page .filter-panel .filter-contain .search-select select:focus {
  border: 2px solid #FDA94F;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }

.intro-section, #intro, #propdetails-intro, #prop-search-intro, #partners-intro, #partner-page-intro {
  padding: 150px 0px 100px;
  font-family: "Arch"; }
  .intro-section .title h1, #intro .title h1, #propdetails-intro .title h1, #prop-search-intro .title h1, #partners-intro .title h1, #partner-page-intro .title h1 {
    font-size: 55px;
    letter-spacing: 4px;
    line-height: 70px;
    font-weight: bold; }

.section-title .title, #partners .title, #recent-properties .title, #owner-properties .title, #finded-properties .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .section-title .title a, #partners .title a, #recent-properties .title a, #owner-properties .title a, #finded-properties .title a {
    color: #FDA94F;
    font-family: "OpenSans";
    font-size: 15px;
    font-weight: bold;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }
    .section-title .title a:hover, #partners .title a:hover, #recent-properties .title a:hover, #owner-properties .title a:hover, #finded-properties .title a:hover {
      color: #061B40;
      -webkit-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s; }
  .section-title .title h1, #partners .title h1, #recent-properties .title h1, #owner-properties .title h1, #finded-properties .title h1 {
    font-size: 30px;
    font-family: "Arch";
    letter-spacing: 0.5px;
    font-weight: bold; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

.mb-10 {
  margin: 0px 0px 10px; }

.mb-12 {
  margin: 0px 0px 12px; }

.mb-15 {
  margin: 0px 0px 15px; }

.mb-20 {
  margin: 0px 0px 20px; }

.mb-30 {
  margin: 0px 0px 30px; }

.mb-40 {
  margin: 0px 0px 40px; }

.mt-10 {
  margin: 10px 0px 0px; }

.mt-20 {
  margin: 20px 0px 0px; }

.mt-30 {
  margin: 30px 0px 0px; }

.mt-40 {
  margin: 40px 0px 0px; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0px;
  z-index: 100;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }
  #header .navigation-bar {
    padding: 5px 0px;
    font-family: "Arch"; }
    #header .navigation-bar .left-side {
      float: left; }
    #header .navigation-bar .right-side {
      padding: 6px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      #header .navigation-bar .right-side .nav-menu {
        margin: 0 auto; }
      #header .navigation-bar .right-side .main-menu {
        display: inline-block;
        margin: 0px 15px;
        position: relative; }
        #header .navigation-bar .right-side .main-menu[data-dropdown]::after {
          font-family: "Flaticon";
          font-size: 12px;
          padding-left: 5px;
          font-weight: 900;
          content: "\f10f"; }
        #header .navigation-bar .right-side .main-menu[data-checked] {
          background-color: #FFEEE2;
          -webkit-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s; }
          #header .navigation-bar .right-side .main-menu[data-checked] a {
            color: #FDA94F;
            -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s; }
          #header .navigation-bar .right-side .main-menu[data-checked]:hover {
            background-color: #FDA94F;
            -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s; }
            #header .navigation-bar .right-side .main-menu[data-checked]:hover a {
              color: #F6F6F6;
              -webkit-transition: all 0.4s ease 0s;
              transition: all 0.4s ease 0s; }
        #header .navigation-bar .right-side .main-menu[data-button] {
          padding: 10px 20px; }
          #header .navigation-bar .right-side .main-menu[data-button] a i {
            margin-right: 10px; }
        #header .navigation-bar .right-side .main-menu a {
          font-weight: 900;
          color: #061B40;
          font-size: 15px;
          letter-spacing: 1.1px; }
        #header .navigation-bar .right-side .main-menu .submenu, #header .navigation-bar .right-side .main-menu .zero-submenu {
          position: absolute;
          margin-left: 0px;
          width: 200px;
          -webkit-box-shadow: 7px 7px 11px -7px #6e6e6e;
                  box-shadow: 7px 7px 11px -7px #6e6e6e;
          background-color: #F6F6F6;
          border-radius: 8px;
          padding: 0px;
          top: 20px;
          opacity: 0;
          -webkit-transform: translateY(-2em);
                  transform: translateY(-2em);
          visibility: hidden;
          z-index: -1;
          -webkit-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
          transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s; }
          #header .navigation-bar .right-side .main-menu .submenu li, #header .navigation-bar .right-side .main-menu .zero-submenu li {
            margin-left: 0px;
            padding-left: 0px;
            padding-right: 0px;
            position: relative; }
            #header .navigation-bar .right-side .main-menu .submenu li a, #header .navigation-bar .right-side .main-menu .zero-submenu li a {
              display: block;
              background: #fff;
              color: #3B566E;
              padding-left: 20px;
              height: 40px;
              line-height: 40px;
              -webkit-transition: all 0.4s ease 0s;
              transition: all 0.4s ease 0s;
              position: relative;
              font-size: 13px;
              border-bottom: 1px solid #f5f5f5; }
              #header .navigation-bar .right-side .main-menu .submenu li a:hover, #header .navigation-bar .right-side .main-menu .zero-submenu li a:hover {
                background: #FFEEE2;
                padding-left: 25px;
                border-left: 4px solid #FDA94F; }
            #header .navigation-bar .right-side .main-menu .submenu li[data-dropright]::after, #header .navigation-bar .right-side .main-menu .zero-submenu li[data-dropright]::after {
              font-family: "Flaticon";
              font-size: 12px;
              font-weight: 900;
              content: "\f111";
              position: absolute;
              top: 14px;
              right: 10px; }
        #header .navigation-bar .right-side .main-menu .zero-submenu {
          left: 205px;
          top: 0px; }
      #header .navigation-bar .right-side .registration .main-menu {
        margin: 0px; }

#footer {
  background-color: #e0d7d7;
  padding: 30px 0px; }
  #footer .footer-top {
    padding-bottom: 10px;
    border-bottom: 1px solid #F6F6F6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #footer .footer-top .right-side .social-links::before {
      content: "Bizi izləyin";
      color: #F6F6F6;
      font-size: 15px;
      font-family: "OpenSans"; }
    #footer .footer-top .right-side .social-links li {
      display: inline-block;
      padding: 10px;
      margin-left: 10px;
      border: 1px solid #FDA94F;
      border-radius: 100%;
      background-color: #F6F6F6;
      -webkit-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s; }
      #footer .footer-top .right-side .social-links li a {
        color: #FDA94F;
        -webkit-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s; }
      #footer .footer-top .right-side .social-links li:hover {
        background-color: #FDA94F;
        -webkit-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s; }
        #footer .footer-top .right-side .social-links li:hover a {
          color: #F6F6F6;
          -webkit-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s; }
  #footer .footer-bottom {
    font-family: "Arch";
    border-bottom: 1px solid #F6F6F6; }
    #footer .footer-bottom .subjects {
      padding: 15px 0px; }
      #footer .footer-bottom .subjects .title {
        font-size: 18px;
        letter-spacing: 1.1px;
        font-weight: 900; }
      #footer .footer-bottom .subjects .contain ul li {
        padding: 5px 0px;
        color: #FDA94F; }
        #footer .footer-bottom .subjects .contain ul li i {
          margin-right: 10px;
          font-size: 16px;
          line-height: 20px;
          display: inline-block;
          width: 20px;
          color: #F6F6F6; }
      #footer .footer-bottom .subjects .contain li {
        position: relative; }
        #footer .footer-bottom .subjects .contain li a {
          display: block;
          height: 20px;
          line-height: 20px;
          -webkit-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s;
          position: relative;
          color: #061B40; }
          #footer .footer-bottom .subjects .contain li a:hover {
            padding-left: 10px;
            border-left: 4px solid #FDA94F;
            -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s; }
  #footer .footer-author {
    font-family: OpenSans; }
    #footer .footer-author .author {
      text-align: center;
      color: #F6F6F6;
      font-size: 14px; }

@font-face {
  font-family: 'Arch';
  src: url("../fonts/Arch.woff"); }
@font-face {
  font-family: 'Arch';
  src: url("../fonts/Arch-Bold.woff");
  font-weight: 900; }
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular.woff"); }
/*
Flaticon icon font: Flaticon
Creation date: 24/08/2019 12:54
*/
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/Flaticon.eot");
  src: url("../fonts/flaticon/Flaticon.eot") format("embedded-opentype"), url("../fonts/flaticon/Flaticon.woff2") format("woff2"), url("../fonts/flaticon/Flaticon.woff") format("woff"), url("../fonts/flaticon/Flaticon.ttf") format("truetype"), url("../fonts/flaticon/Flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg"); } }
.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.flaticon-laptop:before {
  content: "\f100"; }

.flaticon-video-camera:before {
  content: "\f101"; }

.flaticon-server:before {
  content: "\f102"; }

.flaticon-facebook-logo:before {
  content: "\f103"; }

.flaticon-twitter:before {
  content: "\f104"; }

.flaticon-linkedin:before {
  content: "\f105"; }

.flaticon-github-logo:before {
  content: "\f106"; }

.flaticon-mobileme-logo-of-black-cloud:before {
  content: "\f107"; }

.flaticon-google-plus:before {
  content: "\f108"; }

.flaticon-speech-bubble:before {
  content: "\f109"; }

.flaticon-man-user:before {
  content: "\f10a"; }

.flaticon-pinterest-logo:before {
  content: "\f10b"; }

.flaticon-magnifier:before {
  content: "\f10c"; }

.flaticon-reply:before {
  content: "\f10d"; }

.flaticon-copyright:before {
  content: "\f10e"; }

.flaticon-angle-arrow-down:before {
  content: "\f10f"; }

.flaticon-angle-pointing-to-left:before {
  content: "\f110"; }

.flaticon-angle-arrow-pointing-to-right:before {
  content: "\f111"; }

.flaticon-play-button:before {
  content: "\f112"; }

.flaticon-layers:before {
  content: "\f113"; }

.flaticon-layer:before {
  content: "\f114"; }

#intro {
  background: url("../img/banner/1.jpg");
  background-size: cover; }
  #intro .contain-stack {
    font-family: "OpenSans"; }
    #intro .contain-stack .nav-tabs .nav-item {
      display: inline-block;
      padding: 15px 25px;
      border-bottom-right-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
      background-color: white; }
      #intro .contain-stack .nav-tabs .nav-item a {
        color: #061B40;
        font-size: 18px;
        font-weight: 900;
        letter-spacing: 1.1px; }
    #intro .contain-stack .nav-tabs .active {
      background-color: #FDA94F;
      -webkit-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s; }
      #intro .contain-stack .nav-tabs .active a {
        color: #F6F6F6;
        -webkit-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s; }
    #intro .contain-stack .tab-content .tab-panel {
      padding: 40px 20px;
      background-color: white;
      border-radius: 8px;
      border-top-left-radius: 0px; }
    #intro .contain-stack .tab-content .search-input input {
      width: 100%;
      padding: 10px 5px;
      font-size: 18px;
      font-family: "OpenSans";
      border-radius: 8px;
      border: 2px solid #e0d7d7;
      -webkit-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s; }
      #intro .contain-stack .tab-content .search-input input:focus {
        border: 2px solid #FDA94F;
        -webkit-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s; }
    #intro .contain-stack .tab-content .search-button button {
      color: white;
      letter-spacing: 1.1px; }

#partners {
  padding: 30px 0px; }
  #partners .title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  #partners .contain-stack .partners-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    #partners .contain-stack .partners-logo .item {
      padding: 0px 100px; }
      #partners .contain-stack .partners-logo .item img {
        width: 100%; }
    #partners .contain-stack .partners-logo .owl-nav span {
      font-size: 35px;
      padding: 0px 20px;
      color: #FDA94F;
      font-weight: bold; }

#recent-properties, #owner-properties, #finded-properties, #partners {
  padding: 30px 0px; }
  #recent-properties .contain-item, #owner-properties .contain-item, #finded-properties .contain-item, #partners .contain-item {
    -webkit-box-shadow: 7px 7px 11px -7px #6e6e6e;
            box-shadow: 7px 7px 11px -7px #6e6e6e;
    border: 1px solid #e0d7d7;
    border-radius: 8px;
    background-color: #F6F6F6;
    position: relative;
    overflow: hidden; }
    #recent-properties .contain-item:hover .item-image img, #owner-properties .contain-item:hover .item-image img, #finded-properties .contain-item:hover .item-image img, #partners .contain-item:hover .item-image img {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      -webkit-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s; }
    #recent-properties .contain-item:hover .hover-overlay, #owner-properties .contain-item:hover .hover-overlay, #finded-properties .contain-item:hover .hover-overlay, #partners .contain-item:hover .hover-overlay {
      visibility: visible;
      opacity: 1;
      z-index: 1;
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
      -webkit-transition-delay: 0s, 0s, 0.3s;
              transition-delay: 0s, 0s, 0.3s;
      -webkit-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s; }
    #recent-properties .contain-item .item-image, #owner-properties .contain-item .item-image, #finded-properties .contain-item .item-image, #partners .contain-item .item-image {
      overflow: hidden; }
      #recent-properties .contain-item .item-image img, #owner-properties .contain-item .item-image img, #finded-properties .contain-item .item-image img, #partners .contain-item .item-image img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 100%;
        -webkit-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s; }
    #recent-properties .contain-item .item-property, #owner-properties .contain-item .item-property, #finded-properties .contain-item .item-property, #partners .contain-item .item-property {
      padding: 10px 15px;
      font-family: "OpenSans"; }
      #recent-properties .contain-item .item-property i, #owner-properties .contain-item .item-property i, #finded-properties .contain-item .item-property i, #partners .contain-item .item-property i {
        font-size: 14px;
        margin-right: 3px;
        color: #FDA94F; }
      #recent-properties .contain-item .item-property .author, #recent-properties .contain-item .item-property .date, #owner-properties .contain-item .item-property .author, #owner-properties .contain-item .item-property .date, #finded-properties .contain-item .item-property .author, #finded-properties .contain-item .item-property .date, #partners .contain-item .item-property .author, #partners .contain-item .item-property .date {
        font-size: 12px; }
      #recent-properties .contain-item .item-property .author, #owner-properties .contain-item .item-property .author, #finded-properties .contain-item .item-property .author, #partners .contain-item .item-property .author {
        padding: 10px 0px; }
      #recent-properties .contain-item .item-property .property-name, #owner-properties .contain-item .item-property .property-name, #finded-properties .contain-item .item-property .property-name, #partners .contain-item .item-property .property-name {
        font-family: "Arch";
        font-size: 20px;
        letter-spacing: 0.5px;
        padding: 15px 0px; }
        #recent-properties .contain-item .item-property .property-name a, #owner-properties .contain-item .item-property .property-name a, #finded-properties .contain-item .item-property .property-name a, #partners .contain-item .item-property .property-name a {
          text-decoration: none;
          color: #061B40;
          -webkit-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s; }
          #recent-properties .contain-item .item-property .property-name a:hover, #owner-properties .contain-item .item-property .property-name a:hover, #finded-properties .contain-item .item-property .property-name a:hover, #partners .contain-item .item-property .property-name a:hover {
            color: #FDA94F;
            -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s; }
      #recent-properties .contain-item .item-property .property-price, #owner-properties .contain-item .item-property .property-price, #finded-properties .contain-item .item-property .property-price, #partners .contain-item .item-property .property-price {
        font-family: "Arch";
        font-size: 16px;
        padding: 20px 0px; }
        #recent-properties .contain-item .item-property .property-price .previous-price, #owner-properties .contain-item .item-property .property-price .previous-price, #finded-properties .contain-item .item-property .property-price .previous-price, #partners .contain-item .item-property .property-price .previous-price {
          font-size: 12px;
          color: #e0d7d7;
          text-decoration: line-through; }
      #recent-properties .contain-item .item-property .additional-properties, #owner-properties .contain-item .item-property .additional-properties, #finded-properties .contain-item .item-property .additional-properties, #partners .contain-item .item-property .additional-properties {
        border-top: 1px solid #e0d7d7;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 15px 0px 10px; }
        #recent-properties .contain-item .item-property .additional-properties .add-prop-item .num, #owner-properties .contain-item .item-property .additional-properties .add-prop-item .num, #finded-properties .contain-item .item-property .additional-properties .add-prop-item .num, #partners .contain-item .item-property .additional-properties .add-prop-item .num {
          color: #061B40;
          font-size: 14px; }
        #recent-properties .contain-item .item-property .additional-properties .add-prop-item span, #owner-properties .contain-item .item-property .additional-properties .add-prop-item span, #finded-properties .contain-item .item-property .additional-properties .add-prop-item span, #partners .contain-item .item-property .additional-properties .add-prop-item span {
          font-size: 12px; }
      #recent-properties .contain-item .item-property .add-sort, #owner-properties .contain-item .item-property .add-sort, #finded-properties .contain-item .item-property .add-sort, #partners .contain-item .item-property .add-sort {
        position: absolute;
        top: 2px;
        right: 2px;
        border-radius: 8px;
        padding: 5px 10px;
        background-color: white; }
        #recent-properties .contain-item .item-property .add-sort .name, #owner-properties .contain-item .item-property .add-sort .name, #finded-properties .contain-item .item-property .add-sort .name, #partners .contain-item .item-property .add-sort .name {
          font-family: "OpenSans";
          color: #FDA94F;
          letter-spacing: 0.5px;
          font-weight: bold; }
    #recent-properties .contain-item .hover-overlay, #owner-properties .contain-item .hover-overlay, #finded-properties .contain-item .hover-overlay, #partners .contain-item .hover-overlay {
      padding: 10px 0px;
      border-top: 1px solid #e0d7d7;
      width: 100%;
      position: absolute;
      bottom: -61px;
      left: 0;
      right: 0;
      background-color: #F6F6F6;
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      -webkit-transition-delay: 0s, 0s, 0.4s;
              transition-delay: 0s, 0s, 0.4s;
      -webkit-transition: all 0.5s ease-in-out 0s, visibility 0.4s linear 0.3s, z-index 0.3s linear 0.3s;
      transition: all 0.5s ease-in-out 0s, visibility 0.4s linear 0.3s, z-index 0.3s linear 0.3s; }
      #recent-properties .contain-item .hover-overlay ul, #owner-properties .contain-item .hover-overlay ul, #finded-properties .contain-item .hover-overlay ul, #partners .contain-item .hover-overlay ul {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; }
        #recent-properties .contain-item .hover-overlay ul li, #owner-properties .contain-item .hover-overlay ul li, #finded-properties .contain-item .hover-overlay ul li, #partners .contain-item .hover-overlay ul li {
          margin-right: 10px;
          padding: 10px;
          background-color: #FFEEE2;
          border-radius: 8px; }
          #recent-properties .contain-item .hover-overlay ul li a, #owner-properties .contain-item .hover-overlay ul li a, #finded-properties .contain-item .hover-overlay ul li a, #partners .contain-item .hover-overlay ul li a {
            color: #FDA94F; }
          #recent-properties .contain-item .hover-overlay ul li:hover, #owner-properties .contain-item .hover-overlay ul li:hover, #finded-properties .contain-item .hover-overlay ul li:hover, #partners .contain-item .hover-overlay ul li:hover {
            background-color: #FDA94F;
            -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s; }
            #recent-properties .contain-item .hover-overlay ul li:hover i, #owner-properties .contain-item .hover-overlay ul li:hover i, #finded-properties .contain-item .hover-overlay ul li:hover i, #partners .contain-item .hover-overlay ul li:hover i {
              color: white;
              -webkit-transition: all 0.4s ease 0s;
              transition: all 0.4s ease 0s; }
            #recent-properties .contain-item .hover-overlay ul li:hover a, #owner-properties .contain-item .hover-overlay ul li:hover a, #finded-properties .contain-item .hover-overlay ul li:hover a, #partners .contain-item .hover-overlay ul li:hover a {
              color: white;
              -webkit-transition: all 0.4s ease 0s;
              transition: all 0.4s ease 0s; }

#propdetails-intro, #prop-search-intro, #partners-intro, #partner-page-intro {
  background: url("../img/banner/4.png");
  background-size: cover; }
  #propdetails-intro .breadcumb-text a, #propdetails-intro .breadcumb-text span, #prop-search-intro .breadcumb-text a, #prop-search-intro .breadcumb-text span, #partners-intro .breadcumb-text a, #partners-intro .breadcumb-text span, #partner-page-intro .breadcumb-text a, #partner-page-intro .breadcumb-text span {
    color: white;
    font-family: "OpenSans";
    letter-spacing: 1.1px; }
  #propdetails-intro .breadcumb-text a:hover, #prop-search-intro .breadcumb-text a:hover, #partners-intro .breadcumb-text a:hover, #partner-page-intro .breadcumb-text a:hover {
    color: #FDA94F;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }

#property-detail {
  padding: 30px 0px; }
  #property-detail .property-photo {
    position: relative;
    border-radius: 8px;
    overflow: hidden; }
    #property-detail .property-photo img {
      width: 100%; }
    #property-detail .property-photo .owl-nav {
      position: absolute;
      bottom: 0;
      right: 0; }
      #property-detail .property-photo .owl-nav button span {
        font-size: 60px;
        font-weight: bold;
        display: inline-block;
        color: white;
        -webkit-box-shadow: 14px 12px 20px -10px rgba(0, 0, 0, 0.75);
                box-shadow: 14px 12px 20px -10px rgba(0, 0, 0, 0.75);
        -webkit-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        margin: 20px 25px; }
        #property-detail .property-photo .owl-nav button span:hover {
          color: #FDA94F;
          -webkit-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s; }
  #property-detail .property-information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 60px; }
    #property-detail .property-information .property-price {
      font-family: "OpenSans"; }
      #property-detail .property-information .property-price .present-price {
        font-size: 24px;
        font-weight: bold;
        color: #FDA94F;
        margin-bottom: 20px; }
      #property-detail .property-information .property-price .previous-price {
        color: #e0d7d7;
        text-decoration: line-through; }
      #property-detail .property-information .property-price span {
        display: block; }
    #property-detail .property-information .property-name h1 {
      font-family: "Arch";
      font-size: 35px;
      letter-spacing: 1.1px;
      font-weight: bold; }
    #property-detail .property-information .property-name .property-address {
      padding: 10px 0px;
      float: right; }
      #property-detail .property-information .property-name .property-address h3 {
        margin-left: 10px;
        color: #FDA94F;
        font-family: "OpenSans";
        font-weight: bold; }
  #property-detail .property-owner {
    border: 1px solid #e0d7d7;
    border-radius: 8px; }
    #property-detail .property-owner .owner-information {
      padding: 15px;
      text-align: center;
      border-bottom: 1px solid #e0d7d7; }
      #property-detail .property-owner .owner-information .owner-photo {
        display: inline-block;
        margin-bottom: 10px;
        border-radius: 8px;
        border: 1px solid #e0d7d7;
        padding: 10px;
        overflow: hidden; }
        #property-detail .property-owner .owner-information .owner-photo img {
          border-radius: 8px;
          overflow: hidden; }
      #property-detail .property-owner .owner-information .owner-name .name {
        font-family: "Arch";
        font-size: 18px;
        margin-bottom: 5px;
        color: #061B40;
        letter-spacing: 1.1px;
        font-weight: bold; }
      #property-detail .property-owner .owner-information .owner-adds {
        font-family: "OpenSans";
        font-size: 14px;
        font-weight: bold; }
        #property-detail .property-owner .owner-information .owner-adds span {
          color: #FDA94F;
          padding: 10px 20px;
          display: inline-block;
          border-radius: 8px;
          -webkit-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s;
          background-color: #FFEEE2; }
          #property-detail .property-owner .owner-information .owner-adds span:hover {
            color: white;
            -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s; }
    #property-detail .property-owner .owner-contact {
      padding: 15px 30px; }
      #property-detail .property-owner .owner-contact .title {
        font-family: "Arch";
        margin-bottom: 10px;
        font-weight: bold;
        letter-spacing: 1.1px;
        font-size: 22px; }
      #property-detail .property-owner .owner-contact .contain li {
        padding: 10px 0px;
        font-family: "Arch";
        font-size: 18px; }
        #property-detail .property-owner .owner-contact .contain li i {
          color: #FDA94F;
          font-size: 16px; }
        #property-detail .property-owner .owner-contact .contain li .info-text {
          color: gray;
          margin-top: 5px; }
          #property-detail .property-owner .owner-contact .contain li .info-text span {
            font-family: "OpenSans";
            font-size: 12px; }
  #property-detail .info-item {
    border-bottom: 1px solid #FDA94F;
    width: 100%; }
    #property-detail .info-item .title {
      font-family: "Arch"; }
      #property-detail .info-item .title h3 {
        font-size: 20px;
        letter-spacing: all 0.4s ease 0s;
        margin-bottom: 10px;
        font-weight: bold; }
    #property-detail .info-item .contain {
      font-family: "OpenSans";
      font-size: 14px;
      padding: 10px 0px 20px; }
      #property-detail .info-item .contain i {
        color: #FDA94F;
        font-size: 20px; }
      #property-detail .info-item .contain span {
        font-size: 16px;
        color: gray; }
      #property-detail .info-item .contain p {
        text-align: justify;
        color: gray;
        line-height: 25px; }
      #property-detail .info-item .contain a {
        color: #FDA94F; }
      #property-detail .info-item .contain img {
        width: 100%; }
      #property-detail .info-item .contain ul li {
        padding: 20px 0px; }
        #property-detail .info-item .contain ul li span {
          margin-left: 20px; }
      #property-detail .info-item .contain #map {
        width: 100%;
        height: 400px;
        background-color: grey; }

#finded-properties .title, #partner-page .title {
  padding: 20px 0px;
  font-family: "OpenSans"; }
  #finded-properties .title .sum-found-property, #partner-page .title .sum-found-property {
    font-size: 18px; }
    #finded-properties .title .sum-found-property .sum, #partner-page .title .sum-found-property .sum {
      color: #FDA94F;
      font-weight: bold; }
  #finded-properties .title select, #partner-page .title select {
    font-family: "OpenSans";
    padding: 5px 20px; }
#finded-properties .filter-panel, #partner-page .filter-panel {
  font-family: "OpenSans"; }
  #finded-properties .filter-panel .title, #partner-page .filter-panel .title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #finded-properties .filter-panel .title span, #partner-page .filter-panel .title span {
      font-size: 18px;
      margin-left: 5px; }
  #finded-properties .filter-panel .filter-contain, #partner-page .filter-panel .filter-contain {
    padding: 20px;
    border: 1px solid #e0d7d7;
    border-radius: 8px; }
    #finded-properties .filter-panel .filter-contain div, #partner-page .filter-panel .filter-contain div {
      margin-bottom: 30px; }
    #finded-properties .filter-panel .filter-contain .rent-sale-buttons, #partner-page .filter-panel .filter-contain .rent-sale-buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      #finded-properties .filter-panel .filter-contain .rent-sale-buttons a, #partner-page .filter-panel .filter-contain .rent-sale-buttons a {
        background-color: #FFEEE2;
        -webkit-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        height: 40px;
        line-height: 40px;
        padding: 0 18px;
        color: #FDA94F; }
        #finded-properties .filter-panel .filter-contain .rent-sale-buttons a:hover, #partner-page .filter-panel .filter-contain .rent-sale-buttons a:hover {
          background-color: #FDA94F;
          -webkit-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s;
          color: white; }
    #finded-properties .filter-panel .filter-contain .search-select select, #partner-page .filter-panel .filter-contain .search-select select {
      padding: 5px; }
    #finded-properties .filter-panel .filter-contain .search-range, #partner-page .filter-panel .filter-contain .search-range {
      text-align: center; }
      #finded-properties .filter-panel .filter-contain .search-range h3, #partner-page .filter-panel .filter-contain .search-range h3 {
        font-weight: bold; }
    #finded-properties .filter-panel .filter-contain button, #partner-page .filter-panel .filter-contain button {
      font-family: "OpenSans";
      font-weight: bold;
      display: block;
      margin-top: 50px;
      width: 100%;
      background-color: #FFEEE2;
      -webkit-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s;
      height: 40px;
      line-height: 40px;
      padding: 0 18px;
      color: #FDA94F; }
      #finded-properties .filter-panel .filter-contain button:hover, #partner-page .filter-panel .filter-contain button:hover {
        background-color: #FDA94F;
        -webkit-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        color: white; }

#partners .add-partner {
  height: 229px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 50px;
  background-color: #FFEEE2;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }
  #partners .add-partner:hover {
    background-color: #FDA94F;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }
    #partners .add-partner:hover i {
      color: white;
      border: 1px solid white; }
  #partners .add-partner i {
    padding: 10px 14px;
    border: 1px solid #FDA94F;
    border-radius: 50%;
    color: #FDA94F; }
#partners .contain-item {
  padding: 10px; }
  #partners .contain-item .item-image {
    overflow: hidden;
    height: 135px; }
    #partners .contain-item .item-image a img {
      border-radius: 0px !important;
      width: 100% !important;
      margin: 0 auto; }
  #partners .contain-item .item-property {
    padding: 5px 0px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    #partners .contain-item .item-property .property-name {
      font-size: 18px;
      font-weight: bold;
      padding: 5px 0px !important;
      text-align: center; }
  #partners .contain-item .adds-count {
    font-family: "OpenSans";
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0px; }
    #partners .contain-item .adds-count span {
      color: #FDA94F;
      padding: 5px 15px;
      display: block;
      border-radius: 5px;
      -webkit-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s;
      background-color: #FFEEE2;
      border: 1px solid #FDA94F; }
      #partners .contain-item .adds-count span:hover {
        color: white;
        -webkit-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s; }

#partner-page .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
  font-family: "OpenSans"; }
  #partner-page .title i {
    font-size: 30px;
    color: #FDA94F; }
  #partner-page .title span {
    margin-left: 10px; }
#partner-page .partner-panel .contain {
  padding: 20px;
  border: 1px solid #e0d7d7;
  border-radius: 8px; }
  #partner-page .partner-panel .contain h2 {
    font-family: "Arch"; }
  #partner-page .partner-panel .contain .general .photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  #partner-page .partner-panel .contain .general .name {
    text-align: center;
    font-size: 14px; }
#partner-page .adds-panel .title {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  #partner-page .adds-panel .title .rent-sale-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #partner-page .adds-panel .title .rent-sale-buttons a {
      background-color: #FFEEE2;
      -webkit-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s;
      height: 40px;
      line-height: 40px;
      padding: 0 18px;
      color: #FDA94F;
      width: 100px;
      text-align: center;
      margin: 0 10px; }
      #partner-page .adds-panel .title .rent-sale-buttons a:hover {
        background-color: #FDA94F;
        -webkit-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        color: white; }

/*# sourceMappingURL=main.css.map */