#partners{
    @include section-prop;
    @extend .section-title;
    .title{
        justify-content: center;
    }
    .contain-stack{
        .partners-logo{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .item{
                padding: 0px 100px;
                img{
                    width: 100%;
                }
            }
            .owl-nav{
                span{
                    font-size: 35px;
                    padding: 0px 20px;
                    color: $yellow;
                    font-weight: bold;;
                }
            }
        }
        
    }
}