#home-partners{
    @include section-prop;
    @extend .section-title;
    .title{
        justify-content: center;
    }
    .contain-stack{
        padding: 20px 25px !important;
        .partners-logo{
            padding: 5px 0px;
            border: 1px solid $grey;
            border-radius: $br-regular;
            box-shadow: $bs-regular;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .item{
                padding: 0px 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    height: 100px;
                    width: 150px;
                    display: flex;
                    align-items: center;
                    img{
                        max-height: 100px;
                    }
                }
            }
            .owl-nav{
                span{
                    font-size: 35px;
                    padding: 0px 20px;
                    color: $yellow;
                    font-weight: bold;;
                }
            }
        }
        
    }
}