
@{
    ViewData["Title"] = "Haqqımızda";
}

<!-- intro-section -->
<section id="another-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h1>Haqqımızda</h1>
                </div>
                <div class="breadcumb-text mt-20">
                    <a href="index.html">Ana Səhifə</a>
                    <span>/ Haqqımızda</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of intro-section -->
<!-- about-us-section -->
<section id="about-us" class="mt-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h1>Haqqımızda</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="contain-stack mt-20">
                <div class="row">
                    <div class="col-md-12">
                        <div class="contain-item">
                            <p>
                                <strong>Arenda.Az</strong> layihəsi Azərbaycanda özəl Daşınmaz Əmlak elanları üçün universal
                                meydança təşkil etmək məqsədi ilə yaradılıb.
                                <br>
                                <br>
                                Hər bir kəs Arenda.az saytından istifadə etməklə daşınmaz əmlakın alqı-satqı və
                                kirayəsi üzrə elanları yerləşdirə və axtara bilər.
                                <br>
                                <br>
                                <strong>Arenda.Az</strong>-da əsasən ayrıca fərdlər elan yerləşdirir, lakin sayt şirkət və fərdi
                                sahibkarlar üçün də maraq kəsb edir. Rahat elan yerləşdirmə imkanı geniş məlumat
                                bazasının mövcudluğuna tam olaraq şərait yaradılmışdır. Bu isə öz növbəsində
                                elan baxıcılarının artımını sürətləndirir. Nəticədə faydalı iş prinsipi həndəsi
                                silsilə ilə artmaqda davam edir. Effektivlik artdıqca istifadəçilər artır,
                                istifadəçilər isə artdıqca effektivlik dərəcəsi artır. Əgər hər hansı təklifiniz
                                və ya müsbət istiqamətdə tövsiyyəniz olarsa info@arenda.az e-mail ünvanına öz
                                müraciətinizi göndərə, +994 70 596 24 24 nömrəsi ilə əlaqə saxlaya bilərsiniz.
                                <br>
                                <br>
                                <strong>Arenda.Az</strong> layihəsinin bütün hüquqları “ARENDA.AZ” MMC (VÖEN: 3102054851)
                                tərəfindən qorunur.
                                <br>
                                <br>
                                Hörmətlə,
                                <br>
                                Administrasiya
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of about-us-section -->
