@model HomeIndexViewModel
@{
    ViewData["Title"] = "Əlaqə";
}

@*Intro*@
<partial name="_Breadcumb" model="ViewBag.Partial" />

<!-- contact-section -->
<section id="contact" class="mt-20">
    <div class="container">
        <div class="row">
            <div class="contain-stack mt-20">
                <div class="row">
                    <div class="col-md-12">
                        <div class="contain-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="contain">
                                        <ul>
                                            <li><i class="fas fa-map-marker-alt"></i>@Model.About.Setting.LocalAddress</li>
                                            <li><i class="fas fa-phone-alt"></i> @Model.About.Setting.PhoneNumber </li>
                                            <li><i class="fas fa-mobile-alt"></i> @Model.About.Setting.MobileNumber </li>
                                            <li><i class="far fa-envelope"></i> @Model.About.Setting.Email </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <form method="post" asp-controller="Home" asp-action="SendMessage">
                                        <div class="form-group">
                                            <div class="left-side">
                                                <label for="name">Ad və Soyad</label>
                                            </div>
                                            <div class="right-side">
                                                <input type="text" id="name" placeholder="Ad-Soyad" asp-for="SendMessage.Namesurname" name="SendMessage.Namesurname"
                                                       data-validation="required"
                                                           data-validation-error-msg-required="Ad və Soyadı daxil edin !!!"/>
                                                <span class="text-danger" asp-validation-for="SendMessage.Namesurname"> </span>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="left-side">
                                                <label for="email">E-Poçt</label>
                                            </div>
                                            <div class="right-side">
                                                <input type="text" id="email" placeholder="E-poçt" asp-for="SendMessage.Email" name="SendMessage.Email"
                                                        data-validation="email, required"
                                                           data-validation-error-msg-email="E-mail ünvanı daxil edin !!!"
                                                           data-validation-error-msg-required="E-mail ünvanı daxil edin !!!"/>
                                                <span class="text-danger" asp-validation-for="SendMessage.Email"> </span>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="left-side">
                                                <label for="message">Mesajınız</label>
                                            </div>
                                            <div class="right-side">
                                                <span id="max-length-element">500</span> xarakter qalmaqdadır
                                                <textarea id="message" placeholder="Mesajınız" row="7" asp-for="SendMessage.Text" name="SendMessage.Text"
                                                          data-validation="required"
                                                          data-validation-error-msg-required="Mesajınızı daxil edin !!!"></textarea>
                                                <span class="text-danger" asp-validation-for="SendMessage.Text"></span>
                                            </div>

                                        </div>
                                        <button type="submit">Göndər</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of contact-section -->
@section FormValidator{
    <script src="~/script/form-validator/jquery.form-validator.min.js"></script>
    <script src="~/script/form-validator/security.js"></script>
    <script src="~/script/form-validator/file.js"></script>
}
@section Scripts{

    <script>

        $(document).ready(function () {
            $.validate({
                modules: 'file, security',
                addSuggestions: true,
                decimalSeparator: ','
            });
        });
        $('#message').restrictLength($('#max-length-element'));


    </script>
}
